@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box !important;
}
.section-title {
  position: relative;
  font-size: 3rem;
  color: #333333;
  width: fit-content;
  margin: auto;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
}
.section-title::before {
  position: absolute;
  content: "";
  bottom: -3px;
  top: 84%;
  left: 35%;
  right: 35%;
  border: 1px solid #ff305b;
  border-left: 0px;
  border-right: 0px;
}
.section-title::after {
  position: absolute;
  content: "";
  bottom: 5%;
  left: 15%;
  right: 15%;
  border-bottom: 1px solid #ff305b;
}
:root {
  --dark: #333333;
  --pink: #ff305b;
}
.light-pink {
  color: var(--pink);
}

img,
iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
div.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #00000071;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.active-text {
  color: #ff305b !important;
}
button {
  all: unset;
  cursor: pointer;
}
/* Navigation  Bar */

#navbar {
  transition: 0.4s ease;
  background-color: transparent;
}

#navbar a.navbar-brand {
  color: var(--pink);
  font-weight: 700;
  font-size: 1.7rem;
}

#navbar a {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}
#navbar a:hover {
  color: #ff305b !important;
  transition: 0.5s ease;
}

header#header button {
  all: unset !important;
  cursor: pointer !important;
}
header#header button i.icon-menu {
  color: #fff !important;
  font-size: 2rem;
}
#navbarNav {
  flex-grow: 0;
}
@media (min-width: 992px) {
  header#header button {
    display: none !important;
  }
}

@media (max-width: 992px) {
  #navbarNav {
    background-color: var(--dark);
  }
}
/* Navigation  Bar */

/* main Section */
section {
  height: fit-content;
  overflow: hidden;
}
section#main {
  background: url("../imgs/main.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section#main div#main-layer {
  position: absolute;

  background-color: #000000cc;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
section#main h3 {
  color: white;
  font-size: 1.5rem;
}
section#main h1 {
  color: var(--pink);
  text-transform: uppercase;
  font-size: 4.4rem;
}
section#main #career {
  color: white;

  font-size: 2rem;
}

div#next-word {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 570px) {
  section#main h3 {
    font-size: 1rem;
  }
  section#main h1 {
    font-size: 3rem;
  }
  section#main #career {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  section#main h3 {
    font-size: 1.4rem;
  }
  section#main h1 {
    font-size: 2rem;
  }
  section#main #career {
    font-size: 1.4rem;
  }
}
/* main Section */

/* About Section */
#about {
  padding: 80px 15px;
}

#about h3 {
  color: #333333;
  position: relative;
  padding-left: 4px;
  text-transform: uppercase;
}
#about h3::before {
  border-left: 3px solid #ff305b;
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: -4px;
}
#about p {
  padding: 1rem 0rem;
  line-height: 1.75;
  border-bottom: 1px dashed #333333;
}
#about .buttons a {
  background-color: var(--pink);
  color: #fff;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  width: fit-content;
  transition: 0.3s ease;
}
#about .buttons a:hover {
  background-color: #a40021;
}
#about div.container div.row {
  --bs-gutter-x: 8rem; /* Increase this value for more spacing */
}
#about #image-container {
  border: 10px solid #333333;
  padding: 0;
}
#about #image-container .about-overlay {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
  background-color: #00000089;
  height: 0;
  transition: 0.3s ease-in-out;
  border-radius: inherit;
}
#about #image-container #social-container {
  border-radius: 1rem;
  position: relative;
  top: 2rem;
  left: 7%;
}
#about #image-container #social-container:hover .about-overlay {
  height: 100%;
}
#about #image-container .about-overlay a {
  color: #fff;
  font-size: 2rem;
  transition: 0.3s ease;
}
#about #image-container .about-overlay a:hover {
  color: #ff305b;
}
@media (max-width: 992px) {
  #about #image-container #social-container {
    left: 0px !important;
    top: 0px !important;
  }
  #about #image-container {
    border: 0px;
  }
}
/* About Section */

/* Srvices Section */
#services {
  background-color: rgb(245, 245, 245);
}
.card {
  padding: 2rem 1rem;
  background-color: rgb(246, 246, 246);
  transition: 0.3s ease-in-out;
}
#services .card i {
  font-size: 2rem;
  color: #ff305b;
  transition: 0.3s ease-in-out;

  margin-bottom: 1rem;
}
#services .card h2 {
  color: #555555;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#services .card p {
  line-height: 1.5;
}
.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff !important;
}
.card:hover i {
  scale: 1.2;
}
/* Srvices Section */

/* Portfilio */

#portfolio {
  padding: 80px 10px;
}

#portfolio ul button {
  all: unset;
  color: #333333;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s linear;
  padding: 0.5rem 1rem;
}
#portfolio div.portfolioContainer div.item-box button {
  position: relative;
  display: block;
}

#portfolio div.portfolioContainer div.item-box button i {
  position: absolute;
  right: 3%;
  bottom: 3%;
  color: #cf2547;
  font-size: 2rem;
}

#portfolio div.portfolioContainer div.item-box button:hover div.overlay {
  opacity: 1;
}
/* Portfilio */

/* Stats */
#stats {
  background-color: rgb(239, 239, 239);
  padding: 80px 0px;
}
#stats i {
  color: #f54a6c;
  font-size: 2rem;
  display: inline-flex;
}
#stats div.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#stats div.stat h4 {
  margin-bottom: 0;
  font-weight: 900;
}
/* Stats */

/* Feedback */
#feedback {
  padding: 80px 0;
}
#feedback #feedback-title {
  position: relative;
  font-size: 3rem;
  color: #333333;
  width: fit-content;
  margin: auto;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
#feedback #feedback-title:before {
  position: absolute;
  content: "";
  bottom: -3px;
  top: 60px;
  left: 35%;
  right: 35%;
  border: 1px solid #ff305b;
  border-left: 0px;
  border-right: 0px;
}
#feedback #feedback-title:after {
  position: absolute;
  content: "";
  bottom: 5%;
  left: 15%;
  right: 15%;
  border-bottom: 1px solid #ff305b;
}

#feedback .item img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#feedback .item .item-text h5 {
  color: #333333;
}
#feedback .item .item-text h2 {
  color: #333333;
}
#feedback .item .item-text p {
  font-size: 1rem;
  font-style: italic;
  color: #555555;
}
#feedback .item .item-text ul li i {
  color: orange;
  font-size: larger;
}

#feedback .slider {
  overflow: scroll;
  padding: 1rem 2rem;
}
#feedback .item {
  top: 1rem;
  display: flex;
  padding: 2rem 1rem;
  border-radius: 10px;
  gap: 3rem;
  max-width: 750px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(254, 80, 116);
  background: rgb(254, 80, 116);
  background: linear-gradient(
    146deg,
    rgba(254, 80, 116, 1) 16%,
    rgb(244, 244, 244) 16%
  );
  flex-shrink: 0;
}
div.owl-carousel div.owl-dots button span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #f54a6c;
  transition: 0.4s ease;
  transition-property: background;
  transition-property: border-radius;
  transition-property: width;
}
div.owl-carousel div.owl-dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
div.owl-carousel div.owl-dots button span {
  background-color: #fff !important;
}
div.owl-carousel div.owl-dots button.active span {
  background-color: #f54a6c !important;
  width: 30px;
  border-radius: 0.3rem;
  transition: 0.3s ease;
}
.owl-item {
  padding: 1rem;
}
/* Feedback */

/* Blog */
section#blog {
  background-color: rgb(238, 238, 238);
  padding: 80px 0;
}
section#blog .card {
  background-color: #fff;
  width: 100% !important;
}
section#blog .card a {
  transition: 0.3s ease;
  color: #000000;
  width: fit-content;
}
section#blog .card {
  text-align: left;
  aspect-ratio: 1.5;
}
section#blog .card a:hover {
  color: #f54a6c;
}
section#blog .card div.card-body h5.card-title {
  text-transform: capitalize;
}
section#blog .card div.card-body h6 {
  font-weight: 400;
}

section#blog .card i {
  scale: 1;
}
/* Blog */

/* Contact Us */
section#contact-us {
  padding: 80px 10px;
}

section#contact-us input,
section#contact-us textarea {
  border: 1px solid #55555574;
  transition: 0.3s ease;
  transition-property: box-shadow;
}
section#contact-us input:focus,
section#contact-us textarea:focus {
  box-shadow: 0 0 0 0.25rem #ffdbe2;
  border: 1px solid transparent;
}

section#contact-us button {
  background-color: #f54a6c;
  border: 0;
  font-size: 1.2rem;
}
section#contact-us button:hover {
  background-color: #c80028;
}
.new-sibling {
  color: red;
}
/* Contact Us */

/* Footer */
footer {
  background-color: #333333;
  padding: 3rem 0px;
  color: #fff;
}
footer div.social a {
  color: #fff;
  transition: 0.4s ease-in-out;
  font-size: 2rem;
}
footer div.social a:hover {
  color: #ff305b;
}
footer p a {
  color: #ff305b;
}
footer p a:hover {
  text-decoration: underline;
}
/* Footer */
